<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DataCollectionLimit</key>
	<integer>4000</integer>
	<key>DataCollectionEmail</key>
	<string></string>
	<key>IsCollectingData</key>
	<false/>
	<key>CardType</key>
	<string></string>
	<key>DeckSize</key>
	<string></string>
	<key>ComputerSpeed</key>
	<string></string>
</dict>
</plist>
